/HellloWorld/nbproject/private/
/HellloWorld/build/
/bai1/target/
/DataTypePro/nbproject/private/
/DataTypePro/build/
/slide3demo/target/
/slide4/target/
/slide5/target/
/slide6/target/
/lab6-ex2/target/
/lab6-ex3/target/
/slide7demo3/target/
/rongvang-app/target/
/javajframe/target/
